* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  background-image: url(./img/forest_mountains_sunset_cool_weather_minimalism.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  height: 4vh;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
}

.container {
  margin: auto;
  height: calc(100vh - 4vh);
  display: flex;
  flex-wrap: wrap;
}

.title {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: xx-large;
}

.inlay {
  flex: auto;
  display: flex;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

#location {
  padding: 0.5rem;
  border-radius: 10px;
}

#location:focus-visible {
  outline: none;
}

#getWeatherBtn {
  padding: .5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
}

#getWeatherBtn:focus {
  background-color: lightblue;
}

.card {
  width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 20% 35% 15% 30%;
  padding: 2rem;
  transition: 0.3s ease-in;
  opacity: 0;
}

.card.show {
  opacity: 100;
}

.card.glass {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card > #title {
  text-transform: uppercase;
  word-wrap: break-word; 
}

.card > #temp {
  display: flex;
  gap: 3px;
  padding-top: 1rem;
}

#temp > #num {
  font-size: 4rem;
}

#temp > #celsius {
  font-size: 2rem;
}

.card #infos {
  list-style-type: none;
}

.card #infos > li {
  margin-bottom: 0.75rem;
}

.card > #icon {
  grid-column-start: 2;
  grid-row: 2 / 4;
  text-align: center;
}

.card > #date {
  text-align: center;
}

.temp-switch {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.temp-switch span {
  font-size: 1.5rem;
}

.info-divider {
  margin-bottom: 10px;
}

/* toggle switch */
 .switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid 1px white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

@media screen and (min-width: 900px) {
  .container {
    max-width: 900px;
  }

  .card {
    width: 450px;
  }
}
