* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  background-image: url(./img/forest_mountains_sunset_cool_weather_minimalism.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  height: 4vh;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
}

.container {
  width: 100vw;
  height: calc(100vh - 4vh);
  display: flex;
  flex-wrap: wrap;
}

.title {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: xx-large;
}

.inlay {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 40%;
  height: 300px;
  min-width: 350px;
}

.card.glass {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@media screen and (min-width: 900px) {
    .title {
        padding-right: 5rem;
        justify-content: flex-end;
    }

    .inlay {
        padding-left: 5rem;
        justify-content: flex-start;
    }
}
