* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  background-image: url(./img/forest_mountains_sunset_cool_weather_minimalism.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  height: 4vh;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
}

.container {
  margin: auto;
  height: calc(100vh - 4vh);
  display: flex;
  flex-wrap: wrap;
}

.title {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: xx-large;
}

.inlay {
  flex: auto;
  display: flex;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

#location {
  padding: 0.5rem;
  border-radius: 10px;
}

#location:focus-visible {
  outline: none;
}

.card {
  width: 350px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 50% 30%;
  padding: 1.5rem;
}

.card.glass {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card > #title {
  text-transform: uppercase;
  word-wrap: break-word;
}

.card > #date {
  text-align: end;
}

.card > #temp {
  font-size: 5rem;
}

.card #infos {
  list-style-type: none;
}

.card #infos > li {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 900px) {
  .container {
    max-width: 60vw;
  }

  .card {
    width: 500px;
  }
}
